#main
  margin-top 60px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none

footer
  border-top 1px solid #ccc
  margin-top 5em
  padding-top 1em

.x-axis
  font-size 8px

.tooltip
  position absolute
  text-align center
  height 15px
  padding 2px
  font 12px sans-serif
  background white
  border 1px solid #ccc
  border-radius 3px
  pointer-events none
